body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	height:100%;
	background-image: url('./images/pizza-background.jpg');
	-webkit-background-size: cover;
	background-size: 400px;
	background-repeat: no-repeat;
	background-position: top left;
	background-color: black !important;
	color:white !important;
}

.modal-content {
	background-color: #212529 !important;
}
.modal-content > .modal-header {
	border-bottom: 1px solid #c6c8ca !important;
}
.modal-content > .modal-footer {
	border-top: 1px solid #c6c8ca !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}

table td,
table th {
	vertical-align: middle;
}
table th.fitted,
table td.fitted {
	width: 1%;
	white-space: nowrap;
}

.App-link {
	color: #61dafb;
}

button.btn.btn-primary {
	background-color: #182b6d;
	border-color: #182b6d;
}
button.btn.btn-primary:focus {
	box-shadow: 0 0 0 0.2rem rgba(24, 55, 176, 0.5);
}
button.btn.btn-primary:active,
button.btn.btn-primary:hover
{
	background-color: #192861;
	border-color: #192861;
}
