######################################################################################
# Pizzamon Service
# Copy this file to /etc/systemd/system/ to make the server controllable via systemctl
# Run systemctl start pizzamon.service to start the server.
# You also have to make the server.js executable via chmod +x ~/pizzamon/server.js
######################################################################################
[Unit]
Description=Node.js Pizzamon service
[Service]
PIDFile=/tmp/pizzamon-99.pid
User=<Your Username>
Group=<Your Usergroup>
Restart=always
KillSignal=SIGQUIT
WorkingDirectory=/home/<username>/pizzamon/
# Set Node environment to production
Environment=NODE_ENV=production
# Add port or host environment variables here
#Environment=PORT=80
#Environment=HOST=0.0.0.0
ExecStart=/home/<username>/pizzamon/server.js
[Install]
WantedBy=multi-user.target
