.OrderPage {
	padding-top: 1rem
}

.OrderPage .Box {
	height:1.5rem;
	border:1px solid grey;
	width: 50%;
}

.OrderPage .OrdertypeInfo {
	display: flex;
	align-items: center;
	justify-content: center;
}
.OrderPage .OrdertypeInfo .i {
	margin-right: 1rem;
}

@media print {
	body * {
		font-size: 2.5rem;
		color: black;
	}
	.OrderPage.container {
		max-width: none;
	}
	.OrderPage button {
		visibility: hidden;
	}

}