.OrderPage {
	padding-top: 1rem
}

.OrderPage .Box {
	height:1.5rem;
	border:1px solid grey;
	width: 50%;
}

.OrderPage .OrdertypeInfo {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.OrderPage .OrdertypeInfo .i {
	margin-right: 1rem;
}

@media print {
	body * {
		font-size: 18px;
		color: black;
	}
	.OrderPage.container {
		max-width: none;
	}
	.OrderPage button {
		visibility: hidden;
	}

}