.modal-content {
	background-color: #212529 !important;
}
.modal-content > .modal-header {
	border-bottom: 1px solid #c6c8ca !important;
}
.modal-content > .modal-footer {
	border-top: 1px solid #c6c8ca !important;
}